/* --------------------------------

Primary style

-------------------------------- */

.welcome {
  background-image: url("/img/bg2.jpg"); 
  position: relative;
  width: 90%;
  height: auto;

}

@media only screen and (min-width: 1024px) {

}


@media only screen and (min-width: 768px) {

}


@media only screen and (min-width: 768px) {


}
@media only screen and (min-width: 1024px) {

}


@media only screen and (min-width: 768px) {

}
@media only screen and (min-width: 1024px) {

}



@media only screen and (min-width: 768px) {

}


@media only screen and (min-width: 768px) {

}


@media only screen and (min-width: 768px) {

}




@media only screen and (min-width: 768px) {


}

@media only screen and (min-width: 768px) {

}
@media only screen and (min-width: 1024px) {

}
